html
	script(src="/jquery.js")
	script(src="/knockout.js")
	script.
		var timeLastFrame = new Date().getTime();
		var averageFps = 0;
		function updateFrameRate() {
		    requestAnimationFrame(updateFrameRate);
		    var timeNow = new Date().getTime();
			
			var fps = 1000 / ( timeNow - timeLastFrame );
			
			if( !isNaN(fps) && fps != Infinity ){
				averageFps = 0.1 * fps + 0.9 * averageFps;
			}
			
			$('.counter').text('fps: ' + Math.round( averageFps ));
			
			timeLastFrame = timeNow;
		}
		updateFrameRate();
		
		$( document ).ready( function(){
			var model = new AppModel();
			for( var i = 0; i < 10000; i++ ){
				model.items.push({
					image: 'image' + ((i % 4) + 1) + '.jpg'
				});
			}
		
			ko.applyBindings( model );
		});
		
		function AppModel(){
			this.items = ko.observableArray();
		}
		
	style.
		body{
			margin:0px;
			padding: 0px;
		}
		.scroll-pane{
			width: 1080px;
			height: 1920px;
			
			background-color: #f00;
			
			overflow: hidden;
			overflow-y: scroll;
		}

		ul, li{
			list-style: none;
			margin:0px;
			padding: 0px;
		}
		
		li{
			width: 1080px;
			height: 520px;
			
			border-bottom: 1px solid black;
			margin-bottom: 20px;
		}
		
		li img{
			max-width: 1080px;
			max-height: 520px;
			
			display: none;
		}
	
	body
		h1 Hello
		.counter
		.scroll-pane
			ul(data-bind="foreach:items")
				li: img(data-bind="attr:{src:image}" )